LEDGERPORT_BASE_URL=https://staging.ledgerport.com
LEDGERPORT_SIGNUP_PATH=/signup
LEDGERPORT_LOGIN_PATH=/login
LEDGERPORT_SIGNUP_EMAIL=kgosal@awesomemotive.com
LEDGERPORT_SIGNUP_PASSWORD=TempPass@123
LEDGERPORT_FIRST_NAME=Kulvinder
LEDGERPORT_LAST_NAME=Gosal
LEDGERPORT_COMPANY=Awesome Motive
LEDGERPORT_PHONE=5551234567
LEDGERPORT_WEBSITE=https://awesomemotive.com
HEADLESS=true
